---
// Component Imports
import FormattedDate from './FormattedDate.astro';
import { readingTime } from '@lib/utils';
import type { CollectionEntry, getCollection } from 'astro:content';

type Props = {
  entry: CollectionEntry<'blog'> | CollectionEntry<'projects'>;
};

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<div
  class="py-3 px-4 pr-10 mb-10 rounded-lg border border-black/15 dark:border-white/20 dark:bg-zinc-800"
>
<div class="animate flex items-center gap-1.5">
  <div class="font-base text-sm">
    <FormattedDate date={entry.data.date} />
  </div>
  &bull;
  <div class="font-base text-sm">
    {readingTime(entry.body)}
  </div>
</div>
  <div class=" text-2xl font-semibold text-black dark:text-white">
    <a href={`/${entry.collection}/${entry.slug}`} class=" no-underline font-bold">
      {entry.data.title}
    </a>
  </div>
  <div class="text-sm opacity-40">
    {entry.data.description}
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="absolute top-1/2 right-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current"
  >
    <line
      x1="5"
      y1="12"
      x2="19"
      y2="12"
      class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out"
    ></line>
    <polyline
      points="12 5 19 12 12 19"
      class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out"
    ></polyline>
  </svg>
  <br />
  <article>
    <Content />
  </article>
</div>
